[submodule "libufdt"]
	path = libufdt
	url = https://android.googlesource.com/platform/system/libufdt
[submodule "kali-nethunter-kernel"]
	path = kali-nethunter-kernel
	url = https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-kernel.git
